<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/stylesheets/sign-in.css" />
  <title>Sign In</title>
</head>
<body>
  <nav class="links">
    <a href="/home">Home</a>
    <% if (user) { %>
      <a href="/books">View All Books</a>
      <a href="/users/<%= user._id %>/books">My Books</a>
      <a href="/auth/sign-out">Sign Out</a>
    <% } else { %>
      <a href="/auth/sign-in">Sign In</a>
      <a href="/auth/sign-up">Sign Up</a>
      <a href="/">All Books</a>
    <% } %>
  </nav>
  <div class="box">
  <form action="/auth/sign-in" method="POST">
    <h1>Sign in</h1>
    <div class="inputBox">
    <input type="text" name="username" id="username" required="required" />
    <span>Username</span>
    <i></i>
    </div>
    <div class="inputBox">
    <input type="password" name="password" id="password" required="required" />
    <span>Password</span>
    <i></i>
    </div>
    <input type="submit" value="Login">
  </form>
  </div>
</body>
</html>