<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a New Book</title>
</head>
<body>
    <nav class="links">
        <a href="/home">Home</a>
        <% if (user) { %>
          <a href="/books">View All Books</a>
          <a href="/users/<%= user._id %>/books">My Books</a>
          <a href="/auth/sign-out">Sign Out</a>
        <% } else { %>
          <a href="/auth/sign-in">Sign In</a>
          <a href="/auth/sign-up">Sign Up</a>
          <a href="/">All Books</a>
        <% } %>
      </nav>
    <h1>Add a New Book</h1>
    <form action="/books" method="POST">
        <label for="name">Book Name:</label>
        <input type="text" name="name" id="name" required />
        <label for="descriptions">Descriptions:</label>
        <textarea name="descriptions" id="descriptions"></textarea>
        <label for="year">Year:</label>
        <input type="text" name="year" id="year" />
        <label for="author">Author:</label>
        <input type="text" name="author" id="author" />
        <button type="submit">Add Book</button>
    </form>
</body>
</html>
