<nav class="links">
  <a href="/home">Home</a>
  <% if(user) { %>
    <a href="/books">View All Books</a>
    <a href="/users/<%=user._id%>/books">My Books</a>
    <a href="/auth/sign-out">Sign Out</a>
  <% } else { %>
    <a href="/auth/sign-in">Sign In</a>
    <a href="/auth/sign-up">Sign Up</a>
    <a href="/">All Books</a>
  <% } %>
</nav>
