<head>
  <link rel="stylesheet" href="/stylesheets/navbar.css" />
</head>


<nav class="links">
  <a href="/home">Home</a>
  <% if(user) { %>
    <a href="/users/<%=user._id%>/books">My Books</a>
    <a href="/users/<%=user._id%>/books/new">Add a New Book</a>
    <a href="/">All Users</a>
    <a href="/auth/sign-out">Sign Out</a>
  <% } else { %>
    <a href="/auth/sign-in">Sign In</a>
    <a href="/auth/sign-up">Sign Up</a>
    <a href="/">All Books</a>
  <% } %>
</nav>
