
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/comunity-page.css" />
  <title>Our Community</title>
</head>
<body>
  
  <% include('../partials/_navbar.ejs') %>
  <div class="box">
    <h2>Community Page</h2>
  <ul>
    <% users.forEach(user => { %>
      <% include('../partials/_navbar.ejs') %>
      <li>
        <a href="/<%= user._id %>"><%= user.username %></a>
        <a href="/<%= user._id %>"><%= user.list.name %></a> 
      </li>
      
    <% }); %>
  </ul>
  <div class="btn">
  <a href="/home">Home</a>
</div>
</div>  
</body>
</html>